.selectField .mat-form-field-infix{
    border-top: unset;
}

.selectField .mat-form-field-wrapper {
    padding-bottom: 2px !important;
}

.selectField .mat-form-field-underline {
    bottom: 1px;
}

.inputField .mat-form-field-wrapper {
    padding-bottom: 2px !important;
}

.inputField .mat-form-field-underline {
    bottom: 1px;
}

.mat-menu-panel{
    min-height: unset;
}