<div mat-dialog-actions style="display: flex; justify-content: flex-end;">
  <span style="cursor: pointer;">
    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 384 512" (click)="closeDialog()">
      <style>svg{fill:#8f8f8f}</style>
      <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
    </svg>
  </span>
</div>
  <div>
    <img src="../../assets/images/iO-TEQcolor.jpg" alt="" width="120px" style="margin-top: 20px;">
  </div>
  <div mat-dialog-content style="margin-top: 10px;">
    <p>Frontend Version: {{ data.version }}</p>
    <p>Backend Version: {{firmwareVer}}</p>
  </div>
  <footer style="margin-top: 15px;">
    <p>© 2023 iO-TEQ. All rights reserved. </p>
  </footer>
  