table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #dddddd;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

tr>th {
 background-color: red;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  width: 100px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}