<mat-tab-group class="tabs" #tabGroup (selectedTabChange)="tabChanged($event)">
    <mat-tab *ngFor="let tab of matTabNames;">
        <ng-template mat-tab-label >
            <label [matTooltip]="tab.tooltip"> {{tab.displName}}</label>
        </ng-template>

        <div *ngIf="matTabIndex === tab.tabIndex">
            <ng-container [ngSwitch] = "tab.template">
                <ng-container *ngSwitchCase="'tabDefaultContent'" [ngTemplateOutlet]="tabDefaultContent"></ng-container>
                <ng-container *ngSwitchCase="'tabTableContent'" [ngTemplateOutlet]="tabTableContent"></ng-container>
                <ng-container *ngSwitchCase="'tabTable2Content'" [ngTemplateOutlet]="tabTable2Content"></ng-container>
                <ng-container *ngSwitchCase="'tabTable3Content'" [ngTemplateOutlet]="tabTable3Content"></ng-container>
            </ng-container>
        </div>
    </mat-tab>
    <!--<mat-tab label="General">
        <div *ngIf="matTabIndex === 0">
            <ng-container *ngTemplateOutlet="tabDefaultContent"></ng-container>
        </div>
    </mat-tab>

    <mat-tab label="Animation">
        <div *ngIf="matTabIndex === 1">
            <ng-container *ngTemplateOutlet="tabDefaultContent"></ng-container>
        </div>
    </mat-tab>

    <mat-tab label="Events">
        <div *ngIf="matTabIndex === 2">
            <ng-container *ngTemplateOutlet="tabDefaultContent"></ng-container>
        </div>
    </mat-tab>

    <mat-tab >
        <ng-template mat-tab-label >
            <label matTooltip="Var Replacement"> Var Replc.</label>
        </ng-template>

        <div *ngIf="matTabIndex === 3">
            <ng-container *ngTemplateOutlet="tabTableContent"></ng-container>
        </div>
    </mat-tab>-->
</mat-tab-group>

<ng-template #tabDefaultContent>
    <mat-form-field style="padding-right: 12px; padding-left: 12px; width: -webkit-fill-available; padding-top: 10px;">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. id" (blur)="onEdit(false,false)" (focus)="onEdit(true,false)" #input>
    </mat-form-field>
        
    <table mat-table [dataSource]="dataSource"><!--class="mat-elevation-z8"-->
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.viewName.charAt(0).toUpperCase() + element.viewName.slice(1)}} </mat-cell>
        </ng-container>
    
        <!-- Parameter Column -->
        <ng-container matColumnDef="parameter">
            <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element; let i = index;" class= "params">

                <!--Text input form field-->
                <mat-form-field class="inputField_prop" (change)="onParamChange(element);"(keyup)="onParamChange(element);" *ngIf="element.formType === 'input' && !element.textarea" floatLabel="never">
                    <input matInput [id]="element.propertyName" [type]="element.dataType" [placeholder]="element.placeholder" (blur)="onEdit(false,false);" (focus)="onEdit(true,false);" [(ngModel)]="element.data" [matTooltip]='element.placeholder'>
                    <span matSuffix *ngIf="element.suffix">{{element.suffix}}</span>
                    
                </mat-form-field> 

                <!--Text input form field-->
                <mat-form-field class="inputField_prop" (change)="onParamChange(element);" (keyup)="onParamChange(element);" *ngIf="element.formType === 'input' && element.textarea" floatLabel="never">
                    <input matInput [type]="element.dataType"  [placeholder]="element.placeholder" [matTooltip]="element.placeholder"  [(ngModel)]="element.data" (click)="openTextArea(element, tabGroup['_indexToSelect'], element.viewName.charAt(0).toUpperCase() + element.viewName.slice(1), i)">
                    <span matSuffix *ngIf="element.suffix">{{element.suffix}}</span>
                </mat-form-field> 

                <mat-menu #menuTest="matMenu">
                    <div style="padding: 10px; display: flex;" (click)="$event.stopPropagation();">
                        <mat-form-field style="width: auto;" class="inputField_prop" (click)="$event.stopPropagation();" (change)="onParamChange(element);" (keyup)="onParamChange(element);" *ngIf="element.formType === 'input'" 
                            floatLabel="never" style="line-height: 22px; width:230px;">
                            <textarea  matInput [type]="element.dataType" [placeholder]="element.placeholder" (blur)="onEdit(false,false);" (focus)="onEdit(true,false);" [(ngModel)]="element.data"></textarea>
                            <span matSuffix *ngIf="element.suffix">{{element.suffix}}</span>
                        </mat-form-field> 
                    </div>
                </mat-menu>

                <!--Select form field-->
                <mat-form-field class="selectField_prop" floatLabel="never" *ngIf="element.formType === 'select'">
                    <mat-select (focus)="onEdit(true,false)" [placeholder]="element.placeholder" (blur)="onEdit(false,false)" (selectionChange)="onParamChange(element);" [(value)]="element.data" required>
                        
                        <mat-option *ngFor="let option of element.formOptions" [value]="option.value? option.value : option">

                            <div *ngIf="option?.value">
                                {{option.displName}}
                            </div>

                            <div *ngIf="!option?.value">
                                {{option.charAt(0).toUpperCase() + option.slice(1)}}
                            </div>
                            
                        </mat-option>
                        
                    </mat-select>
                </mat-form-field>

                <!--Checkbox form field-->
                <mat-checkbox class="example-margin" [(ngModel)]="element.data" *ngIf="element.formType === 'bool'" style="padding-left: 14px;">Checked</mat-checkbox>

                <!--Color form field-->
                <app-color-picker [colorInput]="element.data" (colorOutput)="element.data = $event; onParamChange(element);" (onEdition)="onEdit($event, false)" *ngIf="element.formType === 'color'" style="width: 100%;"></app-color-picker>

                <!--Image browse field-->
                <mat-form-field class="imgField_prop" floatPlaceholder="never" *ngIf="element.formType === 'imgSelect'" style="top: 1px;">
                    <input readonly matInput [(ngModel)]="element.data.name" [placeholder]="element.placeholder"/>
                    <!--remove button-->
                    <button *ngIf="element.data.imgId !== undefined" (click)="removeImage(element)" matSuffix matTooltip="Remove selected file"
                        [matTooltipPosition]="'above'" type="button" color="warn" mat-icon-button>
                        <i class="fal fa-times"></i>
                    </button>
                    <!--select button-->
                    <button matSuffix mat-icon-button (click)="imageManager(element);"  matTooltip="Select an image" [matTooltipPosition]="'above'">
                        <i class="fad fa-file-upload"></i>
                    </button> 
                </mat-form-field>

                <!--Label field-->
                <span [id]="'span' + element.propertyName" *ngIf="element.formType === 'label'" style="color: #7f7d7d">{{element.data}}</span>

                <!--Vertical align field-->
                <div class="alignment" style="display: flex; width: -webkit-fill-available;" *ngIf="element.formType === 'V-Align'">
                    <button mat-button matTooltip="Align text to the top of a text box." (click)="element.data = 'flex-start'; onParamChange(element);" [ngClass]="{'align-button-active': AlignActive(element.data, 'flex-start')}">
                        <i class="fal fa-arrow-to-top"></i>
                    </button>
                    <button mat-button matTooltip="Align text to the middle of a text box." (click)="element.data = 'center'; onParamChange(element);" [ngClass]="{'align-button-active': AlignActive(element.data, 'center')}">
                        <i class="fal fa-arrows-v"></i>
                    </button>
                    <button mat-button matTooltip="Align text to the bottom of a text box." (click)="element.data = 'flex-end'; onParamChange(element);" [ngClass]="{'align-button-active': AlignActive(element.data, 'flex-end')}">
                        <i class="fal fa-arrow-to-bottom"></i>
                    </button>
                </div>

                <!--Horizontal align field-->
                <div class="alignment" style="display: flex; width: -webkit-fill-available;" *ngIf="element.formType === 'H-Align'">
                    <button mat-button matTooltip="Align text to the left." (click)="element.data = 'flex-start'; onParamChange(element);" [ngClass]="{'align-button-active': AlignActive(element.data, 'flex-start')}">
                        <i class="fal fa-align-left"></i>
                    </button>
                    <button mat-button matTooltip="Align text to the center." (click)="element.data = 'center'; onParamChange(element);" [ngClass]="{'align-button-active': AlignActive(element.data, 'center')}">
                        <i class="fal fa-align-center"></i>
                    </button>
                    <button mat-button matTooltip="Align text to the right." (click)="element.data = 'flex-end'; onParamChange(element);" [ngClass]="{'align-button-active': AlignActive(element.data, 'flex-end')}">
                        <i class="fal fa-align-right"></i>
                    </button>
                </div>

                <!--Borders form field-->
                <app-border-picker [borderInputData]="element.data" [formOptions]="element.formOptions" [suffixData]="element.suffix" (bordersOutput)="element.data = $event; onParamChange(element);" (onEdition)="onEdit($event, false)"  *ngIf="element.formType === 'borders'" style="width: 100%;"></app-border-picker>

                <!--Shadow form field-->
                <app-shadow-picker [shadowInputData]="element.data" [suffixData]="element.suffix" (shadowOutput)="element.data = $event; onParamChange(element);" (onEdition)="onEdit($event,false)" *ngIf="element.formType === 'shadow'" style="width: 100%;"></app-shadow-picker>


                <!--For removing property -->
                <button matSuffix mat-icon-button *ngIf="element.propertyName !== 'viewId' && element.propertyName !== 'id' && element.editable" (click)="deleteParam(element, i)"><!--[disabled]="!element.editable"--> 
                    <i class="fad fa-trash-alt" *ngIf="element.editable"></i>
                </button>

                <!--For Timeout-->
                <button matSuffix mat-icon-button *ngIf="element.propertyName !== 'viewId' && element.propertyName !== 'id' && element.propertyName === 'timeout'" (click)="deleteParam(element, i)"><!--[disabled]="!element.editable"--> 
                    <i style="font-size: 23px;" class="fad fa-stopwatch"  [matMenuTriggerFor]="menuTimeout" (menuOpened)="onEdit(true,'true');" (menuClosed)="onEdit(false,'true');"></i>
                </button>
                <mat-menu #menuTimeout="matMenu">
                    <div style="padding: 10px; display: flex;" (click)="$event.stopPropagation();" *ngIf="element.propertyName === 'timeout'">
                        <mat-form-field class="inputField_prop" (click)="$event.stopPropagation();" (change)="onParamChange(element);"(keyup)="onParamChange(element);" *ngIf="element.formType === 'input'" 
                            floatLabel="never" style="line-height: 22px;">
                            <input matInput matTextareaAutosize [type]="element.formOptions.dataType" [placeholder]="element.formOptions.placeholder" (blur)="onEdit(false,false);" (focus)="onEdit(true,false);" [(ngModel)]="element?.formOptions.defaultTimeout">
                            <span matSuffix>{{element.formOptions.suffix}}</span>
                        </mat-form-field> 
                    </div>
                </mat-menu>
            </mat-cell>
        </ng-container>
            
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" *ngIf="dataSource.data.length > 0" colspan="4">No parameter matching the filter "{{input.value}}"</td>
            <td class="mat-cell" *ngIf="dataSource.data.length === 0"colspan="4">No parameter available at this time.</td>
        </tr>
    </table>
</ng-template>

<ng-template #tabTableContent >
    <mat-form-field style="padding-right: 12px; padding-left: 12px; width: -webkit-fill-available; padding-top: 10px;">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. id" (blur)="onEdit(false,false)" (focus)="onEdit(true,false)" #input>
    </mat-form-field>

    <button  mat-button (click)="addTag()"> 
        <i class="fad fa-tag"></i> Add variable
    </button>

    <table mat-table [dataSource]="dataSource">
        
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element" class= "params"> 

                <!--Text input form field-->
                <mat-form-field class="inputField_prop" (change)="onTagChange();" (keyup)="onTagChange();" floatLabel="never">
                    <input matInput [(ngModel)]="element.var" (blur)="onEdit(false,false);" (focus)="onEdit(true,false);">
                </mat-form-field> 
            </mat-cell>
        </ng-container>

        <!-- Parameter Column -->
        <ng-container matColumnDef="parameter">
            <mat-header-cell *matHeaderCellDef style="flex: 10%;"> Value </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element; let i = index;" class= "params" style="flex: 10%;">

                <!--Text input form field-->
                <mat-form-field class="inputField_prop" floatLabel="never">
                    <input matInput [(ngModel)]="element.value" (blur)="onEdit(false,false);" (focus)="onEdit(true,false);">
                </mat-form-field> 

                <button matSuffix mat-icon-button (click)="deleteTag(element, i)" matTooltip="Remove Var." style="width: 30px;"> 
                    <i class="fad fa-trash-alt"></i>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" *ngIf="dataSource.data.length > 0" colspan="4">No parameter matching the filter "{{input.value}}"</td>
            <td class="mat-cell" *ngIf="dataSource.data.length === 0"colspan="4">No parameter available at this time.</td>
        </tr>
    </table>

</ng-template>


<ng-template #tabTable2Content >
    <div style="height: 5px"></div>

    <!-- <mat-form-field style="padding-right: 12px; padding-left: 12px; width: -webkit-fill-available; padding-top: 10px;">
        <mat-label>Tag Name</mat-label>
        <input matInput (change)="SetTagName();" (keyup)="SetTagName();" #input>
    </mat-form-field>
 -->
    <button  mat-button (click)="addTagForOptions()"> 
        <i class="fad fa-tag"></i> Add variable
    </button>

    <table mat-table [dataSource]="dataSource">
       
        <!-- Parameter Column -->
        <ng-container matColumnDef="parameter">
            <mat-header-cell *matHeaderCellDef style="flex: 10%;"> Value </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element; let i = index;" class= "paramss" style="flex: 10%;">

                <!--Text input form field-->
                <mat-form-field class="inputField_prop"  (change)="onTagChangeForOptions();" (keyup)="onTagChangeForOptions();" floatLabel="never">
                    <input matInput [(ngModel)]="element.value" (blur)="onEdit(false,false);" (focus)="onEdit(true,false);">
                </mat-form-field> 

                <button matSuffix mat-icon-button (click)="deleteTagForOptions(element, i)" matTooltip="Remove Var." style="width: 30px;"> 
                    <i class="fad fa-trash-alt"></i>
                </button>
            </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <!-- <td class="mat-cell" *ngIf="dataSource.data.length > 0" colspan="4">No parameter matching the filter "{{input.value}}"</td> -->
            <td class="mat-cell" *ngIf="dataSource.data.length === 0"colspan="4">No parameter available at this time.</td>
        </tr>
    </table>

</ng-template>


<ng-template #tabTable3Content >
    <div *ngIf="selections[0].type=='table'">
        <div style="height: 5px"></div>
        <h3 style="padding: 6px 0px 0px 10px">Expand properties tab to edit table</h3>
    </div>

    <div *ngIf="selections[0].type=='lineChart' || selections[0].type=='barChart'">
        <button  mat-button (click)="addRowChart(selections[0].type)"> 
            <i class="fad fa-tag"></i> Add variable
        </button>
        <table mat-table [dataSource]="selections[0].type=='lineChart' ? lineChartDataSource : barChartDataSource" class="mat-elevation-z8" id="titss">
        <!-- Name Column -->
            <ng-container matColumnDef="tags">
                <th mat-header-cell *matHeaderCellDef> Tags </th>
                <td mat-cell *matCellDef="let element; let i = index" style="padding-right: 0px; padding-left: 12px; padding-top: 6px; padding-bottom: 6px;">
                <div style="display: inline-block; width: min-content;"> 
                    <input #dee [ngModel]="element.value.name" placeholder="Name"  style="margin: 2px;" (blur)=" newData($event, selections[0].type, 'names', i);onEdit(false,false);" (focus)="onEdit(true,false);" />
                    <input #de [ngModel]="element.value.tag" placeholder="Tag" style="margin: 2px;" (blur)=" newData($event, selections[0].type, 'tags', i); onEdit(false,false);" (focus)="onEdit(true,false);" />
                    <app-color-picker [colorInput]="element.value.color" (colorOutput)="element.value.color = $event; onParamChangee(selections[0].type, element.value, i);" (onEdition)="onEdit($event, false)" ></app-color-picker>
                </div> 
                <div style="display: inline-block; vertical-align: top;">
                    <button matSuffix mat-icon-button matTooltip="Remove Var." style="width: 25px; margin-left: 15px;" (click)="deleteTagForChart(selections[0].type, i)"> 
                        <i class="fad fa-trash-alt"></i>
                    </button>
                </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="[ 'tags']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['tags']"></tr>

        </table>
    </div>
</ng-template>


<!--Image browse field-->
<!--<mat-form-field class="imgField" floatPlaceholder="never" *ngIf="element.formType === 'imgSelect'">
    <input [hidden]="true" (change)="onFileSelect($event)" type="file" accept="all/*" #fileSelect>
    <input readonly matInput [(ngModel)]="filename" [placeholder]="element.placeholder"/>
    <button *ngIf="this.base64File" (click)="this.base64File = null; this.filename = null" matSuffix matTooltip="Remove selected file"
        [matTooltipPosition]="'above'" type="button" color="warn" mat-icon-button>
        <i class="fal fa-times"></i>
    </button>
    <button matSuffix mat-icon-button (click)="fileSelect.click();"  matTooltip="Select a file" [matTooltipPosition]="'above'">
        <i class="fad fa-file-upload"></i>
    </button> 
</mat-form-field>-->