.mat-expansion-panel {
  margin: 1%
}

.mat-expansion-panel.mat-expanded mat-expansion-panel-header.mat-expanded{
    background-color:#bec1d0;
}

.mat-expansion-panel-header:hover {
  background: #bec1d0;
}

.centered {
  display:flex;   
  justify-content: center; 
  align-items: center;
}

#mainn{
  margin-top: -51px;
}

.highlightTabColor{
  animation: blinker 4s linear infinite;
}

@keyframes blinker {
  60% {
    background-color: #fc4538
  }
}