:host {
   height: 100%;
   display: flex;
   flex-direction: column;
}

.sidenav-container {
  height: 100%;

  /*height: calc(100% -64px);*/
}

.sidenav-content {
   height: 100%;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.database-sidenav {
  /*width: 300px;*/
}


.link-container  span {
   white-space: nowrap;
   display: block;
   overflow: hidden;
   text-overflow: ellipsis;
/*   width: 100px;
   border: solid 2px blue;*/
}

button i {
   font-size: 25px;
}

mat-panel-title {
   font-size: large;
   font-weight: bolder;
}

mat-panel-title i {
   margin-right: 10px;
}

.spacer {
   flex: 1 1 auto;
 }

 .left-space {
    margin-left: 100px;
 }

 .left-space_menu {
   margin-left: 10px;
}

.navEnd {
   display: flex;
   justify-content: space-evenly;
}