<div style="display: flex; height: 100%; align-items: center;">
  <div style="width: 100%; position: absolute; z-index: 99999; height: -webkit-fill-available;"></div>
    
  <input #slider type="range" class="slider" [min]="config.min" [max]="config.max" [step]="config.step"/>
</div>

<!--list="tickmarks"-->

<!--<datalist id="tickmarks" *ngIf="config.hashMarks=='true'">
  <option value="0"></option>
  <option value="10"></option>
  <option value="20"></option>
  <option value="30"></option>
  <option value="40"></option>
  <option value="50"></option>
  <option value="60"></option>
  <option value="70"></option>
  <option value="80"></option>
  <option value="90"></option>
  <option value="100"></option>
  </datalist>-->