/* .file-upload-box {
    text-align: center; 
    line-height: 100px; 
    border: 1px dashed darkgrey; 
    width:250px; 
    height:100px; 
    background-
} */

.file-name {
    font-weight: bold;
    font-size:8;
}