#image-manager_container {
    background:#AAA;
    height:100%; 
    width:100%;
    display: flex;
    flex-direction: column;
    //position: absolute;
    top: 0px;
    left: 0px;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    flex-shrink: 0;
    flex-grow: 0;
}
.content{
    flex-shrink: 1;
    flex-grow: 1;
    padding: 3px 5px;
    position: relative;
    overflow: hidden;
}

/* --------------- */
/* Body */
/* --------------- */
section {
    padding: 20px;
    //text-align: center;
}
  
p { text-align: center; }
  
.mat-button {
    padding: 0;
}

.image-active {
    border-color: rgba(48,89,175,1) !important;
    border-width: thin;
    border-style: solid;
    background-color: rgba(48, 88, 175, 0.178);
}

.thumbailBtn {
    border-color: rgba(0,0,0,.38);
    border-style: solid;
    border-width: 1px;
}

.inputField .mat-form-field-wrapper {
    padding-bottom: 2px !important;
}

.inputField .mat-form-field-underline {
    bottom: 1px;
}

.imgDetails_nav {
    display: flex;
    background: whitesmoke;
    padding-left: 5px;
    padding-right: 5px;
}

/* --------------- */
/* Footer */
/* --------------- */
.footer{
    flex-shrink: 0;
    flex-grow: 0;
    background: #eee;
    padding: 3px 15px;
}

.action-Btns {
    float: right;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.mat-dialog-actions {
    padding: unset;
    margin-bottom: unset;
}

.thumbnail_slider .mat-slider-wrapper .mat-slider-thumb-container .mat-slider-thumb{
    background-color: rgba(48,89,175,1);
}
.thumbnail_slider .mat-slider-wrapper .mat-slider-track-wrapper .mat-slider-track-fill{
    background-color: rgba(48,89,175,1);
}
.thumbnail_slider .mat-slider-thumb-label {
    background-color: rgba(0, 102, 255, 0.637) !important;
}

/* --------------- */
/* Loading Spinner */
/* --------------- */
.u-loading {
    z-index: 9999;
    position:relative
}
.im_loading-spinner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 74%;
    background: #00000059;
    z-index: inherit;
}