.grid-form { 
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-children {
    align-self: flex-end;
    padding: 0 1vw;
}

.form-checkboxes {
    height: 20px;
    align-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.checkbox {
    width: 20px;
    margin-left: 5px;
}

.form-control {
    width: 100%;
}

.btn {
    width: 100px;
}